{:name "Admin changes a bank's tier"
 :given
 [{:command :api/request
   :request {:method :post
             :path "/v1/banks"
             :auth :admin
             :body {:name "Tier Change Test Org"
                    :status "live"
                    :tier "micro"
                    :currencies ["GBP"]}}
   :as :bank-0
   :assert {:status 201}}]
 :when [{:command :api/request
         :request {:method :post
                   :path "/v1/bank/change-tier"
                   :auth :admin
                   :headers {:bank-id [:ref :bank-0 :bank-id]}
                   :body {:tier "test-scenario"}}
         :assert {:status 200
                  :body
                  {:bank-id [:ref :bank-0 :bank-id] :tier "test-scenario"}}}]}
