{:aliases
 {:build {:deps {ext/mono-build {:local/root "../../deps/mono-build"}}
          :exec-args {:lib 'com.repldriven.queenswood/external-simulators-service
                      :main com.repldriven.queenswood.external-simulators.main
                      :major-minor-version "0.0"}
          :ns-default com.repldriven.mono.build.build}
  ;; The external test runner (cloverage + eftest) plus the test-helper
  ;; components the included bricks' tests require. CI runs every
  ;; project through this runner for coverage; matches the sibling
  ;; service projects.
  :test
  {:extra-deps
   {ext/mono {:local/root "../../deps/mono-test"}
    ext/mono-test-runner {:local/root "../../deps/mono-test-runner"}
    component/test-resources {:local/root "../../components/test-resources"}
    component/test-startup {:local/root "../../components/test-startup"}}}}
 :deps
 {ext/mono {:local/root "../../deps/mono"}
  component/clearbank-webhook {:local/root
                               "../../components/clearbank-webhook"}
  component/form3-webhook {:local/root "../../components/form3-webhook"}
  component/idv-simulator-page {:local/root
                                "../../components/idv-simulator-page"}
  component/modulr-webhook {:local/root "../../components/modulr-webhook"}
  component/onfido-webhook {:local/root "../../components/onfido-webhook"}
  component/resources {:local/root "../../components/resources"}
  component/scheme-simulator {:local/root
                              "../../components/scheme-simulator"}
  component/zyphe-webhook {:local/root "../../components/zyphe-webhook"}
  base/clearbank-simulator {:local/root "../../bases/clearbank-simulator"}
  base/form3-simulator {:local/root "../../bases/form3-simulator"}
  base/modulr-simulator {:local/root "../../bases/modulr-simulator"}
  base/onfido-simulator {:local/root "../../bases/onfido-simulator"}
  base/uk-companies-house-simulator
  {:local/root "../../bases/uk-companies-house-simulator"}
  base/zyphe-simulator {:local/root "../../bases/zyphe-simulator"}
  base/external-simulators {:local/root "../../bases/external-simulators"}
  org.clojure/clojure {:mvn/version "1.13.0-alpha8"}
  pin/clojure-core-async {:local/root "../../deps/clojure-core-async"}}
 :paths ["resources"]}
