{:name "Tenant creates a person party"
 :tags #{:api :happy :parties}
 :given
 [{:command :api/request
   :request
   {:method :post
    :path "/v1/banks"
    :auth :admin
    :headers {:idempotency-key "ik-create-party-happy-bank-001"}
    :body
    {:name "Parties Test Org" :status "live" :tier "micro" :currencies ["GBP"]}}
   :as :org-0
   :assert {:status 201}}
  {:command :auth/mint-token
   :for {:client-id [:ref :org-0 :client-id]
         :client-secret [:ref :org-0 :client-secret]
         :status :live}
   :as :org-0-token}]
 :when
 [{:command :api/request
   :request {:method :post
             :path "/v1/parties"
             :auth :org-0-token
             :headers {:idempotency-key "ik-create-party-happy-001"}
             :body {:type "person"
                    :display-name "Arthur Phillip Dent"
                    :given-name "Arthur"
                    :family-name "Dent"
                    :date-of-birth "1950-07-27"
                    :nationality "GB"
                    :address {:building-number "155"
                              :street "Country Lane"
                              :town "Cottington"
                              :postcode "CT12 4XY"
                              :country "GBR"}
                    :national-identifier {:type "national-insurance"
                                          :value "TN000001A"
                                          :issuing-country "GB"}}}
   :as :party-0
   :assert {:status 200
            :body {:party-id [:m/regex "^pty\\."]
                   :type "person"
                   :display-name "Arthur Phillip Dent"
                   :status "pending"}}}
  {:command :api/poll
   :request {:method :get
             :path "/v1/parties/{party-id}"
             :path-params {:party-id [:ref :party-0 :party-id]}
             :auth :org-0-token}
   :until {:status 200 :body {:status "active"}}}]}
