{:name "Unknown party id returns 404"
 :runs-on {:idv :every}
 :given
 [{:fixture :bank :as :org-0 :with {:name "404 Party Test Org" :status "live"}}]
 :when [{:command :api/request
         :request {:method :get
                   :path "/v1/parties/{party-id}"
                   :path-params {:party-id "pty.00000000000000000000000000"}
                   :auth [:ref :org-0 :token]}
         :assert {:status 404}}]}
