{:name "Unknown party id returns 404"
 :tags #{:api :parties :unhappy}
 :given
 [{:command :api/request
   :request {:method :post
             :path "/v1/banks"
             :auth :admin
             :headers {:idempotency-key "ik-get-party-404-bank-001"}
             :body {:name "404 Party Test Org"
                    :status "live"
                    :tier "micro"
                    :currencies ["GBP"]}}
   :as :org-0
   :assert {:status 201}}
  {:command :auth/mint-token
   :for {:client-id [:ref :org-0 :client-id]
         :client-secret [:ref :org-0 :client-secret]
         :status :live}
   :as :org-0-token}]
 :when [{:command :api/request
         :request {:method :get
                   :path "/v1/parties/{party-id}"
                   :path-params {:party-id "pty.00000000000000000000000000"}
                   :auth :org-0-token}
         :assert {:status 404}}]}
