{:name "Tenant lists their parties"
 :tags #{:api :happy :parties}
 :given
 [{:command :api/request
   :request {:method :post
             :path "/v1/banks"
             :auth :admin
             :headers {:idempotency-key "ik-list-parties-bank-001"}
             :body {:name "List Parties Test Org"
                    :status "live"
                    :tier "micro"
                    :currencies ["GBP"]}}
   :as :org-0
   :assert {:status 201}}
  {:command :auth/mint-token
   :for {:client-id [:ref :org-0 :client-id]
         :client-secret [:ref :org-0 :client-secret]
         :status :live}
   :as :org-0-token}
  {:command :api/request
   :request {:method :post
             :path "/v1/parties"
             :auth :org-0-token
             :headers {:idempotency-key "ik-list-parties-create-a"}
             :body {:type "person"
                    :display-name "Zaphod Beeblebrox"
                    :given-name "Zaphod"
                    :family-name "Beeblebrox"
                    :date-of-birth "1955-02-10"
                    :nationality "GB"
                    :address {:building-number "155"
                              :street "Country Lane"
                              :town "Cottington"
                              :postcode "CT12 4XY"
                              :country "GBR"}
                    :national-identifier {:type "national-insurance"
                                          :value "TN000003C"
                                          :issuing-country "GB"}}}
   :as :party-1
   :assert {:status 200 :body {:party-id [:m/regex "^pty\\."]}}}
  {:command :api/request
   :request {:method :post
             :path "/v1/parties"
             :auth :org-0-token
             :headers {:idempotency-key "ik-list-parties-create-b"}
             :body {:type "person"
                    :display-name "Trillian Astra"
                    :given-name "Trillian"
                    :family-name "Astra"
                    :date-of-birth "1960-08-22"
                    :nationality "GB"
                    :address {:building-number "155"
                              :street "Country Lane"
                              :town "Cottington"
                              :postcode "CT12 4XY"
                              :country "GBR"}
                    :national-identifier {:type "national-insurance"
                                          :value "TN000004D"
                                          :issuing-country "GB"}}}
   :as :party-2
   :assert {:status 200 :body {:party-id [:m/regex "^pty\\."]}}}]
 :when
 [{:command :api/request
   :request {:method :get
             :path "/v1/parties"
             :auth :org-0-token
             :query-params {"page[size]" 1}}
   :as :page-1
   :assert
   {:status 200
    :body
    {:parties
     [{:party-id [:m/any-of
                  [:m/equals [:ref :org-0 :party :party-id]]
                  [:m/equals [:ref :party-1 :party-id]]
                  [:m/equals [:ref :party-2 :party-id]]]}]
     :links {:next [:m/regex ".+"] :prev [:m/absent]}}}}
  {:command :api/request
   :request {:method :get :url [:ref :page-1 :links :next] :auth :org-0-token}
   :as :page-2
   :assert
   {:status 200
    :body
    {:parties
     [{:party-id [:m/any-of
                  [:m/equals [:ref :org-0 :party :party-id]]
                  [:m/equals [:ref :party-1 :party-id]]
                  [:m/equals [:ref :party-2 :party-id]]]}]
     :links {:prev [:m/regex ".+"] :next [:m/regex ".+"]}}}}
  {:command :api/request
   :request {:method :get :url [:ref :page-2 :links :next] :auth :org-0-token}
   :assert
   {:status 200
    :body
    {:parties
     [{:party-id [:m/any-of
                  [:m/equals [:ref :org-0 :party :party-id]]
                  [:m/equals [:ref :party-1 :party-id]]
                  [:m/equals [:ref :party-2 :party-id]]]}]
     :links {:prev [:m/regex ".+"] :next [:m/absent]}}}}]}
