;; The default chart of bank-owned ledger accounts every customer bank
;; is seeded with at provisioning time. One LedgerAccount per row per
;; currency. Control accounts roll up a sub-ledger: 2100/2200/2300
;; (customer deposits) and 3100 (own funds) over customer default
;; balances; 2400 (interest payable) over customer interest-accrued
;; balances. The rest are detail accounts. Codes follow the
;; conventional 1=asset / 2=liability / 3=equity / 4=income /
;; 5=expense layout (4xxx income is unused for now).
[{:code :ledger-account-code-cash-at-correspondent
  :name "Cash at correspondent"
  :account-type :ledger-account-type-detail}
 {:code :ledger-account-code-pending-outbound
  :name "Pending outbound payments"
  :account-type :ledger-account-type-detail}
 {:code :ledger-account-code-customer-deposits-current
  :name "Customer deposits - current"
  :account-type :ledger-account-type-control}
 {:code :ledger-account-code-customer-deposits-savings
  :name "Customer deposits - savings"
  :account-type :ledger-account-type-control}
 {:code :ledger-account-code-customer-deposits-term
  :name "Customer deposits - term deposits"
  :account-type :ledger-account-type-control}
 {:code :ledger-account-code-interest-payable
  :name "Interest payable"
  :account-type :ledger-account-type-control}
 {:code :ledger-account-code-suspense
  :name "Suspense - unreconciled inbound"
  :account-type :ledger-account-type-detail}
 {:code :ledger-account-code-own-funds
  :name "Bank own funds"
  :account-type :ledger-account-type-control}
 {:code :ledger-account-code-interest-expense
  :name "Interest expense"
  :account-type :ledger-account-type-detail}]
