{:aliases {:build {:deps {bases/build {:local/root "../../bases/build"}}
                   :exec-args {:lib 'com.repldriven.queenswood/migrator-service
                               :main com.repldriven.queenswood.migrator.main
                               :major-minor-version "0.0"}
                   :ns-default com.repldriven.queenswood.build.build}
           :test {:extra-deps {ext/mono {:local/root "../../deps/mono-test"}
                               ext/mono-test-runner
                               {:local/root "../../deps/mono-test-runner"}
                               component/testcontainers
                               {:local/root "../../components/testcontainers"}
                               component/test-schema
                               {:local/root "../../components/test-schema"}
                               component/test-startup
                               {:local/root "../../components/test-startup"}
                               component/test-resources
                               {:local/root
                                "../../components/test-resources"}}}}
 :deps {ext/mono {:local/root "../../deps/mono"}
        component/fdb {:local/root "../../components/fdb"}
        component/resources {:local/root "../../components/resources"}
        component/schema {:local/root "../../components/schema"}
        base/migrator {:local/root "../../bases/migrator"}
        org.clojure/clojure {:mvn/version "1.12.5"}
        pin/clojure-core-async {:local/root "../../deps/clojure-core-async"}}
 :paths ["resources"]}
