{:aliases
 {:build {:deps {bases/build {:local/root "../../bases/build"}}
          :exec-args {:lib 'com.repldriven.queenswood/api-service
                      :main com.repldriven.queenswood.api.main
                      :major-minor-version "0.0"}
          :ns-default com.repldriven.queenswood.build.build}
  :test
  {:extra-deps
   {ext/mono {:local/root "../../deps/mono-test"}
    ext/mono-test-runner {:local/root "../../deps/mono-test-runner"}
    component/test-resources {:local/root "../../components/test-resources"}
    component/testcontainers {:local/root "../../components/testcontainers"}
    component/test-schema {:local/root "../../components/test-schema"}}}}
 :deps {ext/mono {:local/root "../../deps/mono"}
        component/fdb {:local/root "../../components/fdb"}
        component/api-schema {:local/root "../../components/api-schema"}
        component/balance {:local/root "../../components/balance"}
        component/balance-domain {:local/root "../../components/balance-domain"}
        component/balance-query {:local/root "../../components/balance-query"}
        component/cash-account-api
        {:local/root "../../components/cash-account-api"}
        component/cash-account {:local/root "../../components/cash-account"}
        component/cash-account-query {:local/root
                                      "../../components/cash-account-query"}
        component/cash-account-migration
        {:local/root "../../components/cash-account-migration"}
        component/cash-account-product
        {:local/root "../../components/cash-account-product"}
        component/cash-account-product-query
        {:local/root "../../components/cash-account-product-query"}
        component/idempotency {:local/root "../../components/idempotency"}
        component/ledger-account {:local/root "../../components/ledger-account"}
        component/membership {:local/root "../../components/membership"}
        component/bank-query {:local/root "../../components/bank-query"}
        component/interest {:local/root "../../components/interest"}
        component/scheduler {:local/root "../../components/scheduler"}
        component/party-query {:local/root "../../components/party-query"}
        component/payee-check {:local/root "../../components/payee-check"}
        component/payment-query {:local/root "../../components/payment-query"}
        component/person-identification
        {:local/root "../../components/person-identification"}
        component/policy {:local/root "../../components/policy"}
        component/resources {:local/root "../../components/resources"}
        component/schema {:local/root "../../components/schema"}
        component/transaction {:local/root "../../components/transaction"}
        component/user {:local/root "../../components/user"}
        component/webhook {:local/root "../../components/webhook"}
        base/api {:local/root "../../bases/api"}
        org.clojure/clojure {:mvn/version "1.12.5"}
        pin/clojure-core-async {:local/root "../../deps/clojure-core-async"}}
 :paths ["resources"]}
