{:name "Internal transfer between settlement and customer account in one org"
 ;; Tenant onboards a person-party and opens a customer account on
 ;; the auto-published settlement product. Funds flow into the org's
 ;; settlement account and a portion is then moved to the customer one.
 :given [{:command :create-bank :args []}                          ; org-0,
                                                                   ; prod-0,
                                                                   ; party-0
                                                                   ; (org),
                                                                   ; acct-0
         {:command :create-person-party :args [:bank-0]}           ; party-1
                                                                   ; (person,
                                                                   ; auto-active)
         {:command :open-account :args [:bank-0 :party-1 :prod-0]} ; acct-1
                                                                   ; (customer)
         {:command :inbound-transfer :args [:acct-0 1000]}]
 :when [{:command :internal-transfer :args [:acct-0 :acct-1 400]}]
 :then [{:command :assert-no-anomaly :args []}
        {:command :assert-balance :args [:acct-0 600]}
        {:command :assert-balance :args [:acct-1 400]}]}
